<mat-toolbar color='primary'>

    <span routerLink='/'>My App</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink='/addUser'>
        Add User
    </button>
    <button mat-button routerLink='/users'>
        All Users
    </button>
    <button mat-button (click)='logout()' *ngIf='isLogin'>
        Logout
    </button>
</mat-toolbar>