<div class="container">
    <form [formGroup]='addUserForm'>
    <div class="row">
        <div class="col-md-8 sm-12 mx-auto">
            <mat-card class="mat-elevation-z8">
                <mat-card-header *ngIf='!userId'>
                    Add New User
                </mat-card-header>
                <mat-card-header *ngIf='userId'>
                    User Detail
                </mat-card-header>
                <mat-card-content class="p-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName='first_name'>
                                <mat-error *ngIf='addUserForm.controls["first_name"].touched && addUserForm.controls["first_name"].hasError("required")'>First Name is Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName='last_name'>
                                <mat-error *ngIf='addUserForm.controls["last_name"].touched && addUserForm.controls["last_name"].hasError("required")'>Last Name is Required</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>User Name</mat-label>
                                <input matInput formControlName='username'>
                                <mat-error *ngIf='addUserForm.controls["username"].touched && addUserForm.controls["username"].hasError("required")'>User Name is Required</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName='email'>
                                <mat-error *ngIf='addUserForm.controls["email"].touched && addUserForm.controls["email"].hasError("required")'>Email is Required</mat-error>
                                <mat-error *ngIf='addUserForm.controls["email"].touched && addUserForm.controls["email"].hasError("pattern")'>Please Enter Valid Email</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Phone</mat-label>
                                <input matInput formControlName='mobile' type="number" min='0'>
                                <mat-error *ngIf='addUserForm.controls["mobile"].touched && addUserForm.controls["mobile"].hasError("required")'>Phone is Required</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName='address'>
                                <mat-error *ngIf='addUserForm.controls["address"].touched && addUserForm.controls["address"].hasError("required")'>Address is Required</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 mt-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Pin Code</mat-label>
                                <input matInput type="number" min='0' formControlName='pincode'>
                                <mat-error *ngIf='addUserForm.controls["pincode"].touched && addUserForm.controls["pincode"].hasError("required")'>Pin Code is Required</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions class="text-center">
                    <button mat-raised-button color='warn' class="mb-3">Cancel</button>
                    <button mat-raised-button color='primary' class="mb-3" (click)='addUser()' *ngIf='!userId'>Add User</button>

                    <button mat-raised-button color='primary' class="mb-3" (click)='updateUser()' *ngIf='userId'>Update User</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</form>
</div>