<form [formGroup]='loginForm' (ngSubmit)='login()'>

<div class="row mt-3 headerDiv">
    <div class="col-md-5 mx-auto">
        <mat-card class="mat-elevation-z8">
            <mat-card-header>
                <h3 class="pt-3">Login</h3>
            </mat-card-header>
            <mat-card-content class="text-center">
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>User Name</mat-label>
                            <input type="email" matInput
                                   placeholder="Ex. pat@example.com" formControlName='email'>
                            <mat-error *ngIf='loginForm.controls["email"].touched && loginForm.controls["email"].hasError("required")'>User Name is Required</mat-error>
                            <mat-error *ngIf='loginForm.controls["email"].touched && loginForm.controls["email"].hasError("pattern")'>Please enter valid user name</mat-error>
  
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName='password'>
                            <mat-error *ngIf='loginForm.controls["password"].touched && loginForm.controls["password"].hasError("required")'>Password is Required</mat-error>

                          </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions class="text-center">
                <button mat-raised-button color='primary' class="mb-3" type='submit'>Sign In</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</form>
