mat-card{
    padding: 0px;
}
mat-card-header{
    background-color: #3f51b5;
    color:white;
    height: 60px;
}

@media only screen and (max-width: 600px) {
   .headerDiv{
       padding-top: 18%;
   }
  }