<div class="conatiner p-3 mb-5">
    <div class="col-md-12 sm-12 mx-auto">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>SI No. </th>
                <td mat-cell *matCellDef="let element;let i=index"> {{i+1}} </td>
              </ng-container>
    
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let element">
                  <img [src]='element?.avatar' class="img">
              </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element?.first_name | titlecase}} {{element?.last_name | titlecase}}</td>
            </ng-container>
          
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
            </ng-container>
          
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Action</th>
              <td mat-cell *matCellDef="let element"> 
                <mat-icon color='primary' [routerLink]='["/addUser"]' [queryParams]='{id:element?.id}'>remove_red_eye</mat-icon>      
                <mat-icon color='warn' class="ml-3" (click)='deleteUser(element?.id)'>delete</mat-icon>    
            </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]='12' [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]='5' (page)='loadData($event)' class="mb-3"></mat-paginator>
    
    </div>
</div>