table{
    width: 100%;
    height: 500px;
}
mat-paginator{
    background-color: lightgray;
    color: black;
}
.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
mat-icon{
    cursor: pointer;
}